body {
    font-family: arial, sans, sans-serif;
    margin: 0;
}

iframe {
    border: 0;
    frameborder: 0;
    height: 100%;
    width: 100%;
}

#header, #footer {
    background: #f0f0f0;
    padding: 10px 10px;
}

#header {
    border-bottom: 1px #ccc solid;
}

#footer {
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    font-size: 13;
}

#contents {
    margin: 6px;
}

.dash {
    padding: 0 6px;
}

.lst-kix_oaclg5wxfb1g-5>li:before{content:"\0025a0  "}

.lst-kix_oaclg5wxfb1g-2>li:before{content:"\0025a0  "}

.lst-kix_oaclg5wxfb1g-3>li:before{content:"\0025cf  "}

ol.lst-kix_rat7rntg6wwo-6.start{counter-reset:lst-ctn-kix_rat7rntg6wwo-6 0}

.lst-kix_rat7rntg6wwo-6>li{counter-increment:lst-ctn-kix_rat7rntg6wwo-6}

ol.lst-kix_rat7rntg6wwo-4.start{counter-reset:lst-ctn-kix_rat7rntg6wwo-4 0}

.lst-kix_rat7rntg6wwo-4>li:before{content:"" counter(lst-ctn-kix_rat7rntg6wwo-4,lower-latin) ". "}

.lst-kix_9xzxq9ge8to1-5>li:before{content:"\0025a0  "}

.lst-kix_gle2ghp0sjky-6>li:before{content:"\0025cf  "}

ul.lst-kix_oaclg5wxfb1g-8{list-style-type:none}

.lst-kix_9xzxq9ge8to1-2>li:before{content:"\0025a0  "}

.lst-kix_rat7rntg6wwo-1>li{counter-increment:lst-ctn-kix_rat7rntg6wwo-1}

ul.lst-kix_oaclg5wxfb1g-7{list-style-type:none}

ul.lst-kix_oaclg5wxfb1g-6{list-style-type:none}

.lst-kix_oaclg5wxfb1g-6>li:before{content:"\0025cf  "}

ul.lst-kix_oaclg5wxfb1g-5{list-style-type:none}

.lst-kix_rat7rntg6wwo-6>li:before{content:"" counter(lst-ctn-kix_rat7rntg6wwo-6,decimal) ". "}

.lst-kix_9xzxq9ge8to1-0>li:before{content:"\0025cf  "}

.lst-kix_oaclg5wxfb1g-0>li:before{content:"\0025cf  "}

.lst-kix_oaclg5wxfb1g-7>li:before{content:"\0025cb  "}

ul.lst-kix_9xzxq9ge8to1-8{list-style-type:none}

ol.lst-kix_rat7rntg6wwo-0.start{counter-reset:lst-ctn-kix_rat7rntg6wwo-0 0}

.lst-kix_oaclg5wxfb1g-8>li:before{content:"\0025a0  "}

ul.lst-kix_9xzxq9ge8to1-7{list-style-type:none}

ul.lst-kix_9xzxq9ge8to1-6{list-style-type:none}

.lst-kix_rat7rntg6wwo-1>li:before{content:"" counter(lst-ctn-kix_rat7rntg6wwo-1,lower-latin) ". "}

ul.lst-kix_9xzxq9ge8to1-5{list-style-type:none}

ul.lst-kix_9xzxq9ge8to1-4{list-style-type:none}

ul.lst-kix_9xzxq9ge8to1-3{list-style-type:none}

ul.lst-kix_9xzxq9ge8to1-2{list-style-type:none}

ul.lst-kix_9xzxq9ge8to1-1{list-style-type:none}

.lst-kix_9xzxq9ge8to1-8>li:before{content:"\0025a0  "}

ul.lst-kix_9xzxq9ge8to1-0{list-style-type:none}

.lst-kix_rat7rntg6wwo-2>li:before{content:"" counter(lst-ctn-kix_rat7rntg6wwo-2,lower-roman) ". "}

.lst-kix_rat7rntg6wwo-4>li{counter-increment:lst-ctn-kix_rat7rntg6wwo-4}

.lst-kix_rat7rntg6wwo-8>li{counter-increment:lst-ctn-kix_rat7rntg6wwo-8}

.lst-kix_oaclg5wxfb1g-4>li:before{content:"\0025cb  "}

.lst-kix_9xzxq9ge8to1-7>li:before{content:"\0025cb  "}

.lst-kix_gle2ghp0sjky-7>li:before{content:"\0025cb  "}

ol.lst-kix_rat7rntg6wwo-7{list-style-type:none}

ol.lst-kix_rat7rntg6wwo-3.start{counter-reset:lst-ctn-kix_rat7rntg6wwo-3 0}

ol.lst-kix_rat7rntg6wwo-8{list-style-type:none}

ol.lst-kix_rat7rntg6wwo-5{list-style-type:none}

.lst-kix_rat7rntg6wwo-2>li{counter-increment:lst-ctn-kix_rat7rntg6wwo-2}

ol.lst-kix_rat7rntg6wwo-6{list-style-type:none}

ol.lst-kix_rat7rntg6wwo-3{list-style-type:none}

ol.lst-kix_rat7rntg6wwo-4{list-style-type:none}

.lst-kix_rat7rntg6wwo-3>li{counter-increment:lst-ctn-kix_rat7rntg6wwo-3}

ol.lst-kix_rat7rntg6wwo-1{list-style-type:none}

.lst-kix_gle2ghp0sjky-3>li:before{content:"\0025cf  "}

ol.lst-kix_rat7rntg6wwo-2{list-style-type:none}

ol.lst-kix_rat7rntg6wwo-0{list-style-type:none}

.lst-kix_9xzxq9ge8to1-4>li:before{content:"\0025cb  "}

.lst-kix_9xzxq9ge8to1-1>li:before{content:"\0025cb  "}

ol.lst-kix_rat7rntg6wwo-7.start{counter-reset:lst-ctn-kix_rat7rntg6wwo-7 0}

.lst-kix_gle2ghp0sjky-4>li:before{content:"\0025cb  "}

.lst-kix_rat7rntg6wwo-0>li:before{content:"" counter(lst-ctn-kix_rat7rntg6wwo-0,decimal) ". "}

.lst-kix_gle2ghp0sjky-0>li:before{content:"\0025cf  "}

.lst-kix_gle2ghp0sjky-5>li:before{content:"\0025a0  "}

ul.lst-kix_gle2ghp0sjky-4{list-style-type:none}

ul.lst-kix_oaclg5wxfb1g-1{list-style-type:none}

ul.lst-kix_gle2ghp0sjky-3{list-style-type:none}

ul.lst-kix_oaclg5wxfb1g-2{list-style-type:none}

ul.lst-kix_gle2ghp0sjky-2{list-style-type:none}

ul.lst-kix_oaclg5wxfb1g-3{list-style-type:none}

ol.lst-kix_rat7rntg6wwo-8.start{counter-reset:lst-ctn-kix_rat7rntg6wwo-8 0}

ul.lst-kix_gle2ghp0sjky-1{list-style-type:none}

ul.lst-kix_oaclg5wxfb1g-4{list-style-type:none}

ul.lst-kix_gle2ghp0sjky-8{list-style-type:none}

.lst-kix_rat7rntg6wwo-5>li:before{content:"" counter(lst-ctn-kix_rat7rntg6wwo-5,lower-roman) ". "}

ul.lst-kix_gle2ghp0sjky-7{list-style-type:none}

ul.lst-kix_gle2ghp0sjky-6{list-style-type:none}

ul.lst-kix_gle2ghp0sjky-5{list-style-type:none}

ul.lst-kix_oaclg5wxfb1g-0{list-style-type:none}

ol.lst-kix_rat7rntg6wwo-1.start{counter-reset:lst-ctn-kix_rat7rntg6wwo-1 0}

ol.lst-kix_rat7rntg6wwo-5.start{counter-reset:lst-ctn-kix_rat7rntg6wwo-5 0}

.lst-kix_rat7rntg6wwo-5>li{counter-increment:lst-ctn-kix_rat7rntg6wwo-5}

.lst-kix_gle2ghp0sjky-1>li:before{content:"\0025cb  "}

ul.lst-kix_gle2ghp0sjky-0{list-style-type:none}

ol.lst-kix_rat7rntg6wwo-2.start{counter-reset:lst-ctn-kix_rat7rntg6wwo-2 0}

.lst-kix_9xzxq9ge8to1-6>li:before{content:"\0025cf  "}

.lst-kix_oaclg5wxfb1g-1>li:before{content:"\0025cb  "}

.lst-kix_gle2ghp0sjky-2>li:before{content:"\0025a0  "}

.lst-kix_rat7rntg6wwo-7>li:before{content:"" counter(lst-ctn-kix_rat7rntg6wwo-7,lower-latin) ". "}

.lst-kix_gle2ghp0sjky-8>li:before{content:"\0025a0  "}

.lst-kix_rat7rntg6wwo-7>li{counter-increment:lst-ctn-kix_rat7rntg6wwo-7}

.lst-kix_rat7rntg6wwo-3>li:before{content:"" counter(lst-ctn-kix_rat7rntg6wwo-3,decimal) ". "}

.lst-kix_9xzxq9ge8to1-3>li:before{content:"\0025cf  "}

.lst-kix_rat7rntg6wwo-8>li:before{content:"" counter(lst-ctn-kix_rat7rntg6wwo-8,lower-roman) ". "}

.lst-kix_rat7rntg6wwo-0>li{counter-increment:lst-ctn-kix_rat7rntg6wwo-0}

ol{margin:0;padding:0}

.c18{vertical-align:top;width:14.4pt;border-style:solid;border-color:#ffffff;border-width:0pt;padding:3.6pt 3.6pt 3.6pt 3.6pt}

.c17{vertical-align:top;width:453.6pt;border-style:solid;border-color:#ffffff;border-width:0pt}

.c7{max-width:468pt;background-color:#ffffff;padding:72pt 72pt 72pt 72pt}

.c14{margin-right:auto;border-collapse:collapse}

.c11{color:#1155cc;text-decoration:underline}

.c16{font-size:18pt;font-weight:bold}

.c19{font-size:24pt;font-weight:bold}

.c9{color:inherit;text-decoration:inherit}

.c0{padding-top:10pt;direction:ltr}

.c3{direction:ltr;margin-left:36pt}

.c10{font-size:20pt;font-weight:bold}

.c1{height:11pt;direction:ltr}

.c4{direction:ltr}

.c20{text-align:right}

.c5{font-family:"Times New Roman"}

.c12{font-size:20pt}

.c13{font-size:16pt}

.c8{font-style:italic}

.c2{font-family:"Courier New"}

.c15{line-height:1.0}

.c6{height:11pt}

.title{padding-top:24pt;line-height:1.15;text-align:left;color:#000000;font-size:36pt;font-family:"Arial";font-weight:bold;padding-bottom:6pt}

.subtitle{padding-top:18pt;line-height:1.15;text-align:left;color:#666666;font-style:italic;font-size:24pt;font-family:"Georgia";padding-bottom:4pt}

li{color:#000000;font-size:11pt;font-family:"Arial"}

p{color:#000000;font-size:11pt;margin:0;font-family:"Arial"}

h1{padding-top:24pt;line-height:1.15;text-align:left;color:#000000;font-size:24pt;font-family:"Arial";font-weight:bold;padding-bottom:6pt}

h2{padding-top:18pt;line-height:1.15;text-align:left;color:#000000;font-size:18pt;font-family:"Arial";font-weight:bold;padding-bottom:4pt}

h3{padding-top:14pt;line-height:1.15;text-align:left;color:#000000;font-size:14pt;font-family:"Arial";font-weight:bold;padding-bottom:4pt}

h4{padding-top:12pt;line-height:1.15;text-align:left;color:#000000;font-size:12pt;font-family:"Arial";font-weight:bold;padding-bottom:2pt}

h5{padding-top:11pt;line-height:1.15;text-align:left;color:#000000;font-size:11pt;font-family:"Arial";font-weight:bold;padding-bottom:2pt}

h6{padding-top:10pt;line-height:1.15;text-align:left;color:#000000;font-size:10pt;font-family:"Arial";font-weight:bold;padding-bottom:2pt}
