body {
    font-family: arial, sans, sans-serif;
    margin: 0;
}

iframe {
    border: 0;
    frameborder: 0;
    height: 100%;
    width: 100%;
}

#contents {
    max-width: 606px;
    margin: 6px auto 6px auto;
}

.dash {
    padding: 0 6px;
}

ol.lst-kix_sg5hswjhrhhh-1.start{counter-reset:lst-ctn-kix_sg5hswjhrhhh-1 0}

.lst-kix_oaclg5wxfb1g-2>li:before{content:"\0025a0  "}

.lst-kix_uz0zjfiyzx5g-8>li:before{content:"\0025a0  "}

.lst-kix_wa5rcbpbxtcy-1>li:before{content:"\0025cb  "}

ol.lst-kix_rat7rntg6wwo-6.start{counter-reset:lst-ctn-kix_rat7rntg6wwo-6 0}

.lst-kix_5heip12p7jc4-8>li:before{content:"\0025a0  "}

.lst-kix_ypxt24y5olvx-2>li:before{content:"\0025a0  "}

.lst-kix_wa5rcbpbxtcy-4>li:before{content:"\0025cb  "}

.lst-kix_s14ys9slvu20-1>li{counter-increment:lst-ctn-kix_s14ys9slvu20-1}

.lst-kix_uz0zjfiyzx5g-0>li:before{content:"\0025cf  "}

.lst-kix_s14ys9slvu20-4>li{counter-increment:lst-ctn-kix_s14ys9slvu20-4}

.lst-kix_gle2ghp0sjky-6>li:before{content:"\0025cf  "}

ul.lst-kix_oaclg5wxfb1g-8{list-style-type:none}

ul.lst-kix_oaclg5wxfb1g-7{list-style-type:none}

ul.lst-kix_oaclg5wxfb1g-6{list-style-type:none}

.lst-kix_hg6bw4nz1l9k-7>li:before{content:"\0025cb  "}

ul.lst-kix_oaclg5wxfb1g-5{list-style-type:none}

.lst-kix_sg5hswjhrhhh-3>li{counter-increment:lst-ctn-kix_sg5hswjhrhhh-3}

.lst-kix_rat7rntg6wwo-6>li:before{content:"" counter(lst-ctn-kix_rat7rntg6wwo-6,decimal) ". "}

.lst-kix_llanckll6ksl-7>li:before{content:"\0025cb  "}

.lst-kix_oaclg5wxfb1g-0>li:before{content:"\0025cf  "}

.lst-kix_llanckll6ksl-2>li:before{content:"\0025a0  "}

ol.lst-kix_sg5hswjhrhhh-8.start{counter-reset:lst-ctn-kix_sg5hswjhrhhh-8 0}

.lst-kix_sg5hswjhrhhh-6>li:before{content:"" counter(lst-ctn-kix_sg5hswjhrhhh-6,decimal) ". "}

.lst-kix_hg6bw4nz1l9k-6>li:before{content:"\0025cf  "}

.lst-kix_sg5hswjhrhhh-4>li:before{content:"" counter(lst-ctn-kix_sg5hswjhrhhh-4,lower-latin) ". "}

.lst-kix_ypxt24y5olvx-5>li:before{content:"\0025a0  "}

.lst-kix_sg5hswjhrhhh-6>li{counter-increment:lst-ctn-kix_sg5hswjhrhhh-6}

.lst-kix_wa5rcbpbxtcy-7>li:before{content:"\0025cb  "}

.lst-kix_5heip12p7jc4-7>li:before{content:"\0025cb  "}

ol.lst-kix_rat7rntg6wwo-7{list-style-type:none}

ol.lst-kix_rat7rntg6wwo-8{list-style-type:none}

ol.lst-kix_rat7rntg6wwo-5{list-style-type:none}

ol.lst-kix_rat7rntg6wwo-6{list-style-type:none}

.lst-kix_wa5rcbpbxtcy-2>li:before{content:"\0025a0  "}

ol.lst-kix_rat7rntg6wwo-3{list-style-type:none}

ul.lst-kix_5heip12p7jc4-5{list-style-type:none}

ol.lst-kix_rat7rntg6wwo-4{list-style-type:none}

ul.lst-kix_5heip12p7jc4-6{list-style-type:none}

ol.lst-kix_sg5hswjhrhhh-7.start{counter-reset:lst-ctn-kix_sg5hswjhrhhh-7 0}

ol.lst-kix_rat7rntg6wwo-1{list-style-type:none}

ul.lst-kix_5heip12p7jc4-3{list-style-type:none}

ol.lst-kix_rat7rntg6wwo-2{list-style-type:none}

ul.lst-kix_5heip12p7jc4-4{list-style-type:none}

ul.lst-kix_5heip12p7jc4-1{list-style-type:none}

ol.lst-kix_rat7rntg6wwo-0{list-style-type:none}

ul.lst-kix_5heip12p7jc4-2{list-style-type:none}

ul.lst-kix_5heip12p7jc4-0{list-style-type:none}

.lst-kix_s14ys9slvu20-8>li{counter-increment:lst-ctn-kix_s14ys9slvu20-8}

.lst-kix_sg5hswjhrhhh-7>li:before{content:"" counter(lst-ctn-kix_sg5hswjhrhhh-7,lower-latin) ". "}

.lst-kix_gle2ghp0sjky-4>li:before{content:"\0025cb  "}

ol.lst-kix_s14ys9slvu20-1.start{counter-reset:lst-ctn-kix_s14ys9slvu20-1 0}

.lst-kix_gle2ghp0sjky-5>li:before{content:"\0025a0  "}

.lst-kix_wa5rcbpbxtcy-6>li:before{content:"\0025cf  "}

ul.lst-kix_oaclg5wxfb1g-1{list-style-type:none}

ul.lst-kix_oaclg5wxfb1g-2{list-style-type:none}

ul.lst-kix_oaclg5wxfb1g-3{list-style-type:none}

ol.lst-kix_rat7rntg6wwo-8.start{counter-reset:lst-ctn-kix_rat7rntg6wwo-8 0}

ul.lst-kix_oaclg5wxfb1g-4{list-style-type:none}

.lst-kix_s14ys9slvu20-0>li{counter-increment:lst-ctn-kix_s14ys9slvu20-0}

.lst-kix_llanckll6ksl-3>li:before{content:"\0025cf  "}

ul.lst-kix_oaclg5wxfb1g-0{list-style-type:none}

ol.lst-kix_s14ys9slvu20-8.start{counter-reset:lst-ctn-kix_s14ys9slvu20-8 0}

.lst-kix_wa5rcbpbxtcy-5>li:before{content:"\0025a0  "}

ul.lst-kix_5heip12p7jc4-8{list-style-type:none}

.lst-kix_rat7rntg6wwo-7>li:before{content:"" counter(lst-ctn-kix_rat7rntg6wwo-7,lower-latin) ". "}

ol.lst-kix_s14ys9slvu20-0.start{counter-reset:lst-ctn-kix_s14ys9slvu20-0 0}

ul.lst-kix_5heip12p7jc4-7{list-style-type:none}

.lst-kix_rat7rntg6wwo-7>li{counter-increment:lst-ctn-kix_rat7rntg6wwo-7}

.lst-kix_26e1htu2q4t1-0>li:before{content:"\0025cf  "}

.lst-kix_ypxt24y5olvx-7>li:before{content:"\0025cb  "}

.lst-kix_uz0zjfiyzx5g-7>li:before{content:"\0025cb  "}

.lst-kix_rat7rntg6wwo-8>li:before{content:"" counter(lst-ctn-kix_rat7rntg6wwo-8,lower-roman) ". "}

.lst-kix_hg6bw4nz1l9k-3>li:before{content:"\0025cf  "}

.lst-kix_llanckll6ksl-8>li:before{content:"\0025a0  "}

.lst-kix_hg6bw4nz1l9k-0>li:before{content:"\0025cf  "}

.lst-kix_9xzxq9ge8to1-5>li:before{content:"\0025a0  "}

.lst-kix_ypxt24y5olvx-8>li:before{content:"\0025a0  "}

.lst-kix_9xzxq9ge8to1-2>li:before{content:"\0025a0  "}

.lst-kix_26e1htu2q4t1-1>li:before{content:"\0025cb  "}

ul.lst-kix_wa5rcbpbxtcy-7{list-style-type:none}

ul.lst-kix_wa5rcbpbxtcy-8{list-style-type:none}

.lst-kix_oaclg5wxfb1g-7>li:before{content:"\0025cb  "}

.lst-kix_ypxt24y5olvx-3>li:before{content:"\0025cf  "}

.lst-kix_bfw11v11u5bu-0>li:before{content:"\0025cf  "}

.lst-kix_s14ys9slvu20-0>li:before{content:"" counter(lst-ctn-kix_s14ys9slvu20-0,decimal) ". "}

.lst-kix_5heip12p7jc4-3>li:before{content:"\0025cf  "}

.lst-kix_z3l0croxjbt3-0>li:before{content:"\0025cf  "}

ul.lst-kix_wa5rcbpbxtcy-6{list-style-type:none}

ul.lst-kix_wa5rcbpbxtcy-5{list-style-type:none}

ul.lst-kix_wa5rcbpbxtcy-4{list-style-type:none}

.lst-kix_sg5hswjhrhhh-2>li{counter-increment:lst-ctn-kix_sg5hswjhrhhh-2}

ul.lst-kix_wa5rcbpbxtcy-3{list-style-type:none}

.lst-kix_rat7rntg6wwo-8>li{counter-increment:lst-ctn-kix_rat7rntg6wwo-8}

ul.lst-kix_wa5rcbpbxtcy-2{list-style-type:none}

ul.lst-kix_wa5rcbpbxtcy-1{list-style-type:none}

ul.lst-kix_wa5rcbpbxtcy-0{list-style-type:none}

.lst-kix_bfw11v11u5bu-1>li:before{content:"\0025cb  "}

.lst-kix_uz0zjfiyzx5g-4>li:before{content:"\0025cb  "}

.lst-kix_rat7rntg6wwo-3>li{counter-increment:lst-ctn-kix_rat7rntg6wwo-3}

.lst-kix_bfw11v11u5bu-2>li:before{content:"\0025a0  "}

ol.lst-kix_sg5hswjhrhhh-2.start{counter-reset:lst-ctn-kix_sg5hswjhrhhh-2 0}

.lst-kix_9xzxq9ge8to1-1>li:before{content:"\0025cb  "}

ol.lst-kix_rat7rntg6wwo-7.start{counter-reset:lst-ctn-kix_rat7rntg6wwo-7 0}

.lst-kix_wa5rcbpbxtcy-0>li:before{content:"\0025cf  "}

.lst-kix_z3l0croxjbt3-8>li:before{content:"\0025a0  "}

.lst-kix_bfw11v11u5bu-5>li:before{content:"\0025a0  "}

.lst-kix_ypxt24y5olvx-4>li:before{content:"\0025cb  "}

.lst-kix_rat7rntg6wwo-0>li:before{content:"" counter(lst-ctn-kix_rat7rntg6wwo-0,decimal) ". "}

.lst-kix_s14ys9slvu20-7>li:before{content:"" counter(lst-ctn-kix_s14ys9slvu20-7,lower-latin) ". "}

.lst-kix_z3l0croxjbt3-3>li:before{content:"\0025cf  "}ul.lst-kix_gle2ghp0sjky-4{list-style-type:none}

.lst-kix_bfw11v11u5bu-8>li:before{content:"\0025a0  "}

.lst-kix_bfw11v11u5bu-6>li:before{content:"\0025cf  "}

ul.lst-kix_gle2ghp0sjky-3{list-style-type:none}

ul.lst-kix_gle2ghp0sjky-2{list-style-type:none}

ul.lst-kix_gle2ghp0sjky-1{list-style-type:none}

ul.lst-kix_gle2ghp0sjky-8{list-style-type:none}

.lst-kix_s14ys9slvu20-1>li:before{content:"" counter(lst-ctn-kix_s14ys9slvu20-1,lower-latin) ". "}

ul.lst-kix_gle2ghp0sjky-7{list-style-type:none}

ul.lst-kix_gle2ghp0sjky-6{list-style-type:none}

.lst-kix_26e1htu2q4t1-2>li:before{content:"\0025a0  "}

ul.lst-kix_gle2ghp0sjky-5{list-style-type:none}

.lst-kix_bfw11v11u5bu-7>li:before{content:"\0025cb  "}

.lst-kix_rat7rntg6wwo-5>li{counter-increment:lst-ctn-kix_rat7rntg6wwo-5}

ul.lst-kix_gle2ghp0sjky-0{list-style-type:none}

ol.lst-kix_s14ys9slvu20-7.start{counter-reset:lst-ctn-kix_s14ys9slvu20-7 0}

.lst-kix_9xzxq9ge8to1-6>li:before{content:"\0025cf  "}

.lst-kix_uz0zjfiyzx5g-3>li:before{content:"\0025cf  "}

.lst-kix_gle2ghp0sjky-2>li:before{content:"\0025a0  "}

.lst-kix_uz0zjfiyzx5g-2>li:before{content:"\0025a0  "}

.lst-kix_26e1htu2q4t1-7>li:before{content:"\0025cb  "}

.lst-kix_llanckll6ksl-0>li:before{content:"\0025cf  "}

.lst-kix_llanckll6ksl-4>li:before{content:"\0025cb  "}

ol.lst-kix_s14ys9slvu20-6{list-style-type:none}

.lst-kix_oaclg5wxfb1g-3>li:before{content:"\0025cf  "}

ol.lst-kix_s14ys9slvu20-7{list-style-type:none}

ol.lst-kix_s14ys9slvu20-4{list-style-type:none}

.lst-kix_sg5hswjhrhhh-3>li:before{content:"" counter(lst-ctn-kix_sg5hswjhrhhh-3,decimal) ". "}

ol.lst-kix_s14ys9slvu20-5{list-style-type:none}

ol.lst-kix_s14ys9slvu20-2{list-style-type:none}

ol.lst-kix_s14ys9slvu20-3{list-style-type:none}

ol.lst-kix_s14ys9slvu20-0{list-style-type:none}

ol.lst-kix_s14ys9slvu20-1{list-style-type:none}

ol.lst-kix_rat7rntg6wwo-4.start{counter-reset:lst-ctn-kix_rat7rntg6wwo-4 0}

.lst-kix_rat7rntg6wwo-4>li:before{content:"" counter(lst-ctn-kix_rat7rntg6wwo-4,lower-latin) ". "}

ol.lst-kix_s14ys9slvu20-5.start{counter-reset:lst-ctn-kix_s14ys9slvu20-5 0}

.lst-kix_sg5hswjhrhhh-4>li{counter-increment:lst-ctn-kix_sg5hswjhrhhh-4}

.lst-kix_z3l0croxjbt3-1>li:before{content:"\0025cb  "}

.lst-kix_rat7rntg6wwo-1>li{counter-increment:lst-ctn-kix_rat7rntg6wwo-1}

.lst-kix_oaclg5wxfb1g-6>li:before{content:"\0025cf  "}

ol.lst-kix_s14ys9slvu20-2.start{counter-reset:lst-ctn-kix_s14ys9slvu20-2 0}

.lst-kix_llanckll6ksl-1>li:before{content:"\0025cb  "}

.lst-kix_s14ys9slvu20-4>li:before{content:"" counter(lst-ctn-kix_s14ys9slvu20-4,lower-latin) ". "}

.lst-kix_s14ys9slvu20-2>li{counter-increment:lst-ctn-kix_s14ys9slvu20-2}

.lst-kix_z3l0croxjbt3-5>li:before{content:"\0025a0  "}

.lst-kix_s14ys9slvu20-8>li:before{content:"" counter(lst-ctn-kix_s14ys9slvu20-8,lower-roman) ". "}

ul.lst-kix_9xzxq9ge8to1-8{list-style-type:none}

ol.lst-kix_rat7rntg6wwo-0.start{counter-reset:lst-ctn-kix_rat7rntg6wwo-0 0}

ol.lst-kix_s14ys9slvu20-3.start{counter-reset:lst-ctn-kix_s14ys9slvu20-3 0}

ul.lst-kix_9xzxq9ge8to1-7{list-style-type:none}

.lst-kix_hg6bw4nz1l9k-4>li:before{content:"\0025cb  "}

ul.lst-kix_9xzxq9ge8to1-6{list-style-type:none}

ul.lst-kix_9xzxq9ge8to1-5{list-style-type:none}

ul.lst-kix_9xzxq9ge8to1-4{list-style-type:none}

ol.lst-kix_sg5hswjhrhhh-4.start{counter-reset:lst-ctn-kix_sg5hswjhrhhh-4 0}

ul.lst-kix_9xzxq9ge8to1-3{list-style-type:none}

.lst-kix_z3l0croxjbt3-4>li:before{content:"\0025cb  "}

ul.lst-kix_9xzxq9ge8to1-2{list-style-type:none}

ul.lst-kix_9xzxq9ge8to1-1{list-style-type:none}

ul.lst-kix_9xzxq9ge8to1-0{list-style-type:none}

.lst-kix_sg5hswjhrhhh-7>li{counter-increment:lst-ctn-kix_sg5hswjhrhhh-7}

.lst-kix_z3l0croxjbt3-2>li:before{content:"\0025a0  "}

.lst-kix_26e1htu2q4t1-8>li:before{content:"\0025a0  "}

ul.lst-kix_26e1htu2q4t1-2{list-style-type:none}

ul.lst-kix_26e1htu2q4t1-3{list-style-type:none}

ul.lst-kix_26e1htu2q4t1-0{list-style-type:none}

ul.lst-kix_26e1htu2q4t1-1{list-style-type:none}

ul.lst-kix_26e1htu2q4t1-6{list-style-type:none}

ul.lst-kix_26e1htu2q4t1-7{list-style-type:none}

.lst-kix_5heip12p7jc4-1>li:before{content:"\0025cb  "}

.lst-kix_rat7rntg6wwo-2>li{counter-increment:lst-ctn-kix_rat7rntg6wwo-2}

ul.lst-kix_26e1htu2q4t1-4{list-style-type:none}

ul.lst-kix_26e1htu2q4t1-5{list-style-type:none}

.lst-kix_5heip12p7jc4-4>li:before{content:"\0025cb  "}

.lst-kix_hg6bw4nz1l9k-2>li:before{content:"\0025a0  "}

.lst-kix_9xzxq9ge8to1-4>li:before{content:"\0025cb  "}

ol.lst-kix_s14ys9slvu20-6.start{counter-reset:lst-ctn-kix_s14ys9slvu20-6 0}

ol.lst-kix_sg5hswjhrhhh-8{list-style-type:none}

.lst-kix_uz0zjfiyzx5g-1>li:before{content:"\0025cb  "}

.lst-kix_sg5hswjhrhhh-0>li:before{content:"" counter(lst-ctn-kix_sg5hswjhrhhh-0,decimal) ". "}

.lst-kix_uz0zjfiyzx5g-5>li:before{content:"\0025a0  "}

.lst-kix_gle2ghp0sjky-0>li:before{content:"\0025cf  "}

.lst-kix_sg5hswjhrhhh-1>li{counter-increment:lst-ctn-kix_sg5hswjhrhhh-1}

.lst-kix_s14ys9slvu20-5>li{counter-increment:lst-ctn-kix_s14ys9slvu20-5}

ol.lst-kix_sg5hswjhrhhh-5{list-style-type:none}

ul.lst-kix_ypxt24y5olvx-4{list-style-type:none}

ul.lst-kix_z3l0croxjbt3-8{list-style-type:none}

ol.lst-kix_sg5hswjhrhhh-4{list-style-type:none}

ul.lst-kix_ypxt24y5olvx-3{list-style-type:none}

ul.lst-kix_z3l0croxjbt3-7{list-style-type:none}

ol.lst-kix_sg5hswjhrhhh-7{list-style-type:none}

ul.lst-kix_ypxt24y5olvx-2{list-style-type:none}

ul.lst-kix_z3l0croxjbt3-6{list-style-type:none}

ol.lst-kix_sg5hswjhrhhh-6{list-style-type:none}

ul.lst-kix_ypxt24y5olvx-1{list-style-type:none}

ul.lst-kix_z3l0croxjbt3-5{list-style-type:none}

ol.lst-kix_sg5hswjhrhhh-1{list-style-type:none}

ul.lst-kix_ypxt24y5olvx-8{list-style-type:none}

ol.lst-kix_sg5hswjhrhhh-0{list-style-type:none}

ul.lst-kix_ypxt24y5olvx-7{list-style-type:none}

ol.lst-kix_sg5hswjhrhhh-3{list-style-type:none}

ul.lst-kix_ypxt24y5olvx-6{list-style-type:none}

ol.lst-kix_sg5hswjhrhhh-2{list-style-type:none}

.lst-kix_26e1htu2q4t1-6>li:before{content:"\0025cf  "}

ul.lst-kix_ypxt24y5olvx-5{list-style-type:none}

ol.lst-kix_s14ys9slvu20-8{list-style-type:none}

ul.lst-kix_z3l0croxjbt3-0{list-style-type:none}

.lst-kix_s14ys9slvu20-6>li:before{content:"" counter(lst-ctn-kix_s14ys9slvu20-6,decimal) ". "}

.lst-kix_s14ys9slvu20-6>li{counter-increment:lst-ctn-kix_s14ys9slvu20-6}

ul.lst-kix_z3l0croxjbt3-3{list-style-type:none}

ul.lst-kix_ypxt24y5olvx-0{list-style-type:none}

ul.lst-kix_z3l0croxjbt3-4{list-style-type:none}

ul.lst-kix_z3l0croxjbt3-1{list-style-type:none}

ul.lst-kix_z3l0croxjbt3-2{list-style-type:none}

.lst-kix_wa5rcbpbxtcy-3>li:before{content:"\0025cf  "}

.lst-kix_z3l0croxjbt3-6>li:before{content:"\0025cf  "}

ul.lst-kix_26e1htu2q4t1-8{list-style-type:none}

.lst-kix_rat7rntg6wwo-3>li:before{content:"" counter(lst-ctn-kix_rat7rntg6wwo-3,decimal) ". "}

.lst-kix_rat7rntg6wwo-0>li{counter-increment:lst-ctn-kix_rat7rntg6wwo-0}

ul.lst-kix_uz0zjfiyzx5g-7{list-style-type:none}

.lst-kix_5heip12p7jc4-0>li:before{content:"\0025cf  "}

ul.lst-kix_uz0zjfiyzx5g-6{list-style-type:none}

.lst-kix_s14ys9slvu20-2>li:before{content:"" counter(lst-ctn-kix_s14ys9slvu20-2,lower-roman) ". "}

ul.lst-kix_uz0zjfiyzx5g-8{list-style-type:none}

.lst-kix_oaclg5wxfb1g-5>li:before{content:"\0025a0  "}

.lst-kix_26e1htu2q4t1-4>li:before{content:"\0025cb  "}

.lst-kix_5heip12p7jc4-5>li:before{content:"\0025a0  "}

.lst-kix_rat7rntg6wwo-6>li{counter-increment:lst-ctn-kix_rat7rntg6wwo-6}

.lst-kix_s14ys9slvu20-7>li{counter-increment:lst-ctn-kix_s14ys9slvu20-7}

.lst-kix_5heip12p7jc4-6>li:before{content:"\0025cf  "}

.lst-kix_sg5hswjhrhhh-8>li{counter-increment:lst-ctn-kix_sg5hswjhrhhh-8}

.lst-kix_bfw11v11u5bu-4>li:before{content:"\0025cb  "}

.lst-kix_sg5hswjhrhhh-2>li:before{content:"" counter(lst-ctn-kix_sg5hswjhrhhh-2,lower-roman) ". "}

ul.lst-kix_uz0zjfiyzx5g-0{list-style-type:none}

.lst-kix_s14ys9slvu20-3>li{counter-increment:lst-ctn-kix_s14ys9slvu20-3}

ul.lst-kix_uz0zjfiyzx5g-1{list-style-type:none}

ul.lst-kix_uz0zjfiyzx5g-2{list-style-type:none}

ul.lst-kix_uz0zjfiyzx5g-3{list-style-type:none}

ul.lst-kix_uz0zjfiyzx5g-4{list-style-type:none}

ul.lst-kix_uz0zjfiyzx5g-5{list-style-type:none}

ol.lst-kix_sg5hswjhrhhh-5.start{counter-reset:lst-ctn-kix_sg5hswjhrhhh-5 0}

ul.lst-kix_hg6bw4nz1l9k-7{list-style-type:none}

ol.lst-kix_sg5hswjhrhhh-6.start{counter-reset:lst-ctn-kix_sg5hswjhrhhh-6 0}

ul.lst-kix_hg6bw4nz1l9k-6{list-style-type:none}

.lst-kix_9xzxq9ge8to1-0>li:before{content:"\0025cf  "}

ul.lst-kix_hg6bw4nz1l9k-5{list-style-type:none}

ul.lst-kix_hg6bw4nz1l9k-4{list-style-type:none}

ul.lst-kix_hg6bw4nz1l9k-3{list-style-type:none}

ol.lst-kix_s14ys9slvu20-4.start{counter-reset:lst-ctn-kix_s14ys9slvu20-4 0}

ul.lst-kix_hg6bw4nz1l9k-2{list-style-type:none}

ul.lst-kix_hg6bw4nz1l9k-1{list-style-type:none}

ul.lst-kix_hg6bw4nz1l9k-0{list-style-type:none}

.lst-kix_oaclg5wxfb1g-8>li:before{content:"\0025a0  "}

.lst-kix_rat7rntg6wwo-1>li:before{content:"" counter(lst-ctn-kix_rat7rntg6wwo-1,lower-latin) ". "}

.lst-kix_ypxt24y5olvx-6>li:before{content:"\0025cf  "}

.lst-kix_9xzxq9ge8to1-8>li:before{content:"\0025a0  "}

ul.lst-kix_hg6bw4nz1l9k-8{list-style-type:none}

.lst-kix_sg5hswjhrhhh-0>li{counter-increment:lst-ctn-kix_sg5hswjhrhhh-0}

.lst-kix_rat7rntg6wwo-2>li:before{content:"" counter(lst-ctn-kix_rat7rntg6wwo-2,lower-roman) ". "}

.lst-kix_rat7rntg6wwo-4>li{counter-increment:lst-ctn-kix_rat7rntg6wwo-4}

ul.lst-kix_bfw11v11u5bu-0{list-style-type:none}

ul.lst-kix_bfw11v11u5bu-2{list-style-type:none}

ul.lst-kix_bfw11v11u5bu-1{list-style-type:none}

ul.lst-kix_bfw11v11u5bu-4{list-style-type:none}

ul.lst-kix_bfw11v11u5bu-3{list-style-type:none}

.lst-kix_llanckll6ksl-5>li:before{content:"\0025a0  "}

.lst-kix_hg6bw4nz1l9k-8>li:before{content:"\0025a0  "}

ul.lst-kix_bfw11v11u5bu-6{list-style-type:none}

ul.lst-kix_bfw11v11u5bu-5{list-style-type:none}

ul.lst-kix_bfw11v11u5bu-8{list-style-type:none}

.lst-kix_oaclg5wxfb1g-4>li:before{content:"\0025cb  "}

ul.lst-kix_bfw11v11u5bu-7{list-style-type:none}

.lst-kix_wa5rcbpbxtcy-8>li:before{content:"\0025a0  "}

.lst-kix_hg6bw4nz1l9k-1>li:before{content:"\0025cb  "}

.lst-kix_9xzxq9ge8to1-7>li:before{content:"\0025cb  "}

.lst-kix_gle2ghp0sjky-7>li:before{content:"\0025cb  "}

ol.lst-kix_rat7rntg6wwo-3.start{counter-reset:lst-ctn-kix_rat7rntg6wwo-3 0}

.lst-kix_sg5hswjhrhhh-1>li:before{content:"" counter(lst-ctn-kix_sg5hswjhrhhh-1,lower-latin) ". "}

.lst-kix_26e1htu2q4t1-5>li:before{content:"\0025a0  "}

ol.lst-kix_sg5hswjhrhhh-0.start{counter-reset:lst-ctn-kix_sg5hswjhrhhh-0 0}

.lst-kix_gle2ghp0sjky-3>li:before{content:"\0025cf  "}

.lst-kix_hg6bw4nz1l9k-5>li:before{content:"\0025a0  "}

.lst-kix_bfw11v11u5bu-3>li:before{content:"\0025cf  "}

.lst-kix_sg5hswjhrhhh-5>li{counter-increment:lst-ctn-kix_sg5hswjhrhhh-5}

.lst-kix_sg5hswjhrhhh-8>li:before{content:"" counter(lst-ctn-kix_sg5hswjhrhhh-8,lower-roman) ". "}

.lst-kix_s14ys9slvu20-3>li:before{content:"" counter(lst-ctn-kix_s14ys9slvu20-3,decimal) ". "}

.lst-kix_5heip12p7jc4-2>li:before{content:"\0025a0  "}

ol.lst-kix_sg5hswjhrhhh-3.start{counter-reset:lst-ctn-kix_sg5hswjhrhhh-3 0}

.lst-kix_llanckll6ksl-6>li:before{content:"\0025cf  "}

.lst-kix_rat7rntg6wwo-5>li:before{content:"" counter(lst-ctn-kix_rat7rntg6wwo-5,lower-roman) ". "}

.lst-kix_26e1htu2q4t1-3>li:before{content:"\0025cf  "}

ol.lst-kix_rat7rntg6wwo-1.start{counter-reset:lst-ctn-kix_rat7rntg6wwo-1 0}

ol.lst-kix_rat7rntg6wwo-5.start{counter-reset:lst-ctn-kix_rat7rntg6wwo-5 0}

.lst-kix_uz0zjfiyzx5g-6>li:before{content:"\0025cf  "}

.lst-kix_gle2ghp0sjky-1>li:before{content:"\0025cb  "}

.lst-kix_z3l0croxjbt3-7>li:before{content:"\0025cb  "}

.lst-kix_ypxt24y5olvx-0>li:before{content:"\0025cf  "}

ol.lst-kix_rat7rntg6wwo-2.start{counter-reset:lst-ctn-kix_rat7rntg6wwo-2 0}

.lst-kix_oaclg5wxfb1g-1>li:before{content:"\0025cb  "}

ul.lst-kix_llanckll6ksl-6{list-style-type:none}

.lst-kix_gle2ghp0sjky-8>li:before{content:"\0025a0  "}

ul.lst-kix_llanckll6ksl-7{list-style-type:none}

ul.lst-kix_llanckll6ksl-8{list-style-type:none}

.lst-kix_s14ys9slvu20-5>li:before{content:"" counter(lst-ctn-kix_s14ys9slvu20-5,lower-roman) ". "}

ul.lst-kix_llanckll6ksl-2{list-style-type:none}

.lst-kix_sg5hswjhrhhh-5>li:before{content:"" counter(lst-ctn-kix_sg5hswjhrhhh-5,lower-roman) ". "}

ul.lst-kix_llanckll6ksl-3{list-style-type:none}

ul.lst-kix_llanckll6ksl-4{list-style-type:none}

.lst-kix_9xzxq9ge8to1-3>li:before{content:"\0025cf  "}

ul.lst-kix_llanckll6ksl-5{list-style-type:none}

.lst-kix_ypxt24y5olvx-1>li:before{content:"\0025cb  "}

ul.lst-kix_llanckll6ksl-0{list-style-type:none}

ul.lst-kix_llanckll6ksl-1{list-style-type:none}

ol{margin:0;padding:0}

.c2{vertical-align:top;width:410.4pt;border-style:solid;background-color:#cccccc;border-color:#000000;border-width:0pt;padding:5pt 5pt 5pt 5pt}

.c29{vertical-align:top;width:14.4pt;border-style:solid;border-color:#ffffff;border-width:0pt;padding:3.6pt 3.6pt 3.6pt 3.6pt}

.c18{vertical-align:top;width:21.6pt;border-style:solid;border-color:#000000;border-width:0pt;padding:5pt 5pt 5pt 5pt}

.c19{vertical-align:top;width:453.6pt;border-style:solid;border-color:#ffffff;border-width:0pt}

.c8{margin-right:auto;border-collapse:collapse}

.c27{max-width:468pt;background-color:#ffffff;padding:72pt 72pt 72pt 72pt}

.c17{line-height:1.15;padding-top:0pt}

.c5{height:12pt;direction:ltr}

.c3{color:inherit;text-decoration:inherit}

.c1{direction:ltr;margin-left:36pt}

.c0{color:#1155cc;text-decoration:underline}

.c12{margin:0;padding:0}

.c11{padding-top:10pt;padding-bottom:0pt}

.c9{padding-top:0pt;padding-bottom:0pt}

.c15{margin-left:18pt}

.c4{height:0pt}

.c14{font-size:8pt}

.c10{direction:ltr}

.c20{font-size:36pt}

.c25{font-weight:bold}

.c28{padding-top:0pt}

.c23{font-size:14pt}

.c24{text-align:center}

.c16{padding-bottom:0pt}

.c13{padding-left:0pt}

.c6{font-style:italic}

.c22{line-height:1.0}

.c7{font-family:"Times New Roman"}

.c21{line-height:1.15}

.c26{font-size:9pt}

.title{padding-top:10pt;line-height:1.0;text-align:center;color:#000000;font-size:36pt;font-family:"Arial";font-weight:bold;padding-bottom:0pt}

.subtitle{padding-top:10pt;line-height:1.15;text-align:center;color:#666666;font-style:italic;font-size:14pt;font-family:"Arial";padding-bottom:0pt}

li{
    color:#000000;
    font-size:12pt;
    font-family:"Arial";
}

p{color:#000000;font-size:12pt;margin:0;font-family:"Arial"}

h1{padding-top:10pt;line-height:1.0;text-align:left;color:#000000;font-size:14pt;font-family:"Arial";font-weight:bold;padding-bottom:0pt}

h2{padding-top:0pt;line-height:1.15;text-align:left;color:#000000;font-style:italic;font-size:12pt;font-family:"Arial";font-weight:bold;padding-bottom:4pt}

h3{padding-top:14pt;line-height:1.15;text-align:left;color:#666666;font-size:12pt;font-family:"Arial";font-weight:bold;padding-bottom:4pt}

h4{padding-top:12pt;line-height:1.15;text-align:left;color:#666666;font-style:italic;font-size:11pt;font-family:"Arial";padding-bottom:2pt}

h5{padding-top:11pt;line-height:1.15;text-align:left;color:#666666;font-size:10pt;font-family:"Arial";font-weight:bold;padding-bottom:2pt}

h6{padding-top:10pt;line-height:1.15;text-align:left;color:#666666;font-style:italic;font-size:10pt;font-family:"Arial";padding-bottom:2pt}
