.DS_Store
bower_components/*
node_modules
npm-debug.log

!bower_components/jquery
bower_components/jquery/*
!bower_components/jquery/dist
bower_components/jquery/dist/*
!bower_components/jquery/dist/jquery.min.js

!bower_components/what-input
bower_components/what-input/*
!bower_components/what-input/what-input.min.js

!bower_components/foundation-sites
bower_components/foundation-sites/*
!bower_components/foundation-sites/dist
bower_components/foundation-sites/dist/*
!bower_components/foundation-sites/dist/foundation.min.js
